body{
  background-image: url("../imgs/battlebackground.png");
  background-size: cover;
}
#boardFrame {
  border: 6px solid #D4AF37;
  height: 1000px;
  width: 1000px;
  border-radius: 6px;
  background-color: black;
  margin: 2% auto 0 auto;

}
@font-face {
  font-family: 'starWars';
  src: url(../fonts/Starjout.ttf);
}
#resetButton {
  border: 6px solid #D4AF37;
  border-radius: 6px;
  height: 30px;
  width: 100px;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'starWars';
  margin: 2% auto 2% auto;
  padding-top: 1%;
  /*display: inline-block;*/
}
#rebelWins {
  color: white;
  font-family: 'starWars';
  margin: 2% auto; 2% auto;
  border: 6px solid #D4AF37;
  border-radius: 6px;
  height: 30px;
  width: 100px;
  background-color: black;
  display: inline-block;
}
#imperialWins {
  color: white;
  font-family: 'starWars';
  margin: 2% auto; 2% auto;
  display: inline-block;
  border: 6px solid #D4AF37;
  border-radius: 6px;
  height: 30px;
  width: 100px;
  background-color: black;
}
#outputBox {
  border: 6px solid #D4AF37;
  height: 45px;
  width: 900px;
  margin: 1% auto 1% auto;
  padding-top: 1%;
  /*padding: 30px 0 15px 0;*/
  color: white;
  text-align: center;
  font-size: 21px;
  font-family: 'starWars';

}
h1 {
  font-size: 40px;
  text-align: center;
  color: #D4AF37;
  font-family: 'starWars';
}
.gridSquare {
  border: 6px solid #D4AF37;
  height: 27.7%;
  width: 27.7%;
  display: inline-block;
  margin: 2%;
  border-radius: 6px;
  background-image: url("../imgs/deathstar.jpg");
  vertical-align: top;
}

img {
  height: 100%;
  width: 100%;
}
